html, body {
    background-color: rgb(40, 42, 48);
    height: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }

.header {
    width: 100%;
    top: 0;
    text-align: center;
}

.list-frame {
    max-width: 600px;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0 0 30px 0;
    padding: 0;
}

li {
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type=checkbox] {
    margin-right: 10px;
    border-color: rgb(106, 204, 141);
}

input[type=text] {
    max-width: 600px;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(32, 33, 38);
    border: 2px solid rgb(106, 204, 141);
    color: rgb(241, 241, 241);
    font-size: 20px;
}

button {
    padding: 10px;
    width: 50px;
    background-color: rgb(106, 204, 141);
    border: none;
    border-radius: 50px;
    font-size: 25px;
}

.delete-button {
    background-color: transparent;

}

.delete-button::after {
    content: "\00d7";
    display: inline-block;
    color: rgb(255, 117, 117);
    font-size: 30px;
}

.crossed-text {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.566);
}